<table class="text-center table   col-md-5  top-40 w-100  my-5"  >

  <thead >
    <tr>
      <th scope="col　" >名前</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
        <tr>
        <th scope="row"><%= user.name%></th>
        <td><%= link_to "▲", higher_user_path(user),method: :post, style: "text-decoration: none; color: gray;" ,remote: true%></td>
        <td><%= link_to "▼", lower_user_path(user), method: :post, style: "text-decoration: none; color: gray;", remote: true %></td>
        <td><%= link_to "詳細", user_path(user),   style: "text-decoration: none; " %></td>
        <td><%= link_to "削除", del_user_path(user), method: :post,data: { confirm: "このメンバーを消しますか？" }, style: "text-decoration: none; color: red;" ,remote: true%></td>

        </tr>
    <% end %>
    
  </tbody>
</table>