<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">体温</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
    <% usernames = [['名前を選択','']] %>
    <% users.each do |user|  %>
    <% usernames.push([user.name,user.name]) %>
    <%end%>

      <%= form_tag('/', method: :post,remote: true ) do %>
      
      <div class="modal-body ">
        <div class="form-group">
          <%= label_tag :名前 %>
          <%= select_tag :name ,options_for_select(usernames)%>
        </div>
        <div class="form-group">
          <%= label_tag :体温 %>
          <%= text_field_tag :num%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
        <%= submit_tag "追加", class: "btn btn-primary button" ,style: "width: auto"%>
      <%end%>
       
      </div>
    </div>
  </div>
</div>