
<h1 class="text-center">
  <%= current_group.name %>
</h1>

<div class="container" id="errors">
  <%= render 'share/error'%>
</div>

<% if @group.id == 1 %>
      <%= form_tag(update_temps_group_path(@group), method: :post ) do %>
      <div class="text-center">
        <%= submit_tag "データベースの追加", class: "btn btn-primary button float-center" ,id: "godfather"%>
      </div>
            
      <%end%>
<%end%>

<!-- Button trigger modal -->
<div class="container  pt-3 my-5">
<button type="button" class="mt-1 mb-5 btn btn-primary position-absolute top-1 start-50 translate-middle" data-bs-toggle="modal" data-bs-target="#exampleModal2" style="background-color: gray; width: 150px; border-color: gray;">
  メンバーを追加
</button>
</div>

<div id="member">
  <%= render 'groups/membermodal', user: @user %>
</div>
  


<!-- Button trigger modal -->
<div class="container  pt-3">
<button type="button" class="mt-5 btn btn-primary position-absolute top-1 start-50 translate-middle" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 200px;">
  体温を追加
</button>
</div>

<div id="temp">
  <%= render 'groups/tempmodal',users: @users %>
</div>

<div class="container pt-3">
  <div class="row mt-5 tables">
    <%= render 'table', users: @users %>
  </div>
</div>
