<h1 class="mx-5 mt-5"><%= @user.name %></h1>
<%= link_to "編集", edit_user_path(@user) %>
<%= link_to "このメンバーを消す", @user, method: :delete, data: { confirm: "You sure?" } %>

<button class="my-5 btn  " style="background-color: black; margin-left: 100px;">
  <%= link_to "体温表を見る", group_path(Group.find_by(id: @user.group_id)),class: "mx-5", style: "color: white; text-decoration: none;" %>
</button>



<table class="table col-md-5" >
  <thead>
    <tr>
      <th scope="col">日付</th>
      <th scope="col">体温</th>
      
    </tr>
  </thead>
  <tbody>
    <% @temps.each do |temp| %>
        <tr>
            <th scope="row"><%= temp.created_at.strftime('%m/%d') %></th>
            <td><%= temp.num %></td>
        </tr>
    <%end%>
    
  </tbody>
</table>